body {
    font-family: arial, serif;
    background-color:grey;
    color:grey;
    text-align:center;
}

header {
    background-color:white;
    color:grey;
    padding: 20px 0px;
    margin-left:10%;
    margin-right:10%;
}

nav {
    background-color:white;
    color:grey;
    padding: 30px 0px;
    margin-left:10%;
    margin-right:10%;
}

#head {
    
}